<%- include("partials/header") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
</head>
<body>
    <h1>List of Jewels by category</h1>

<table class="table-design">
    <tr>
        <th>Images</th>
        <th>Model</th>
        <th>Price</th>
        <th>Size</th>
        <th>Category</th>
        <th>Show</th>
    </tr>

<% for (var c of Cat) { %>
    <tr>
        <td><img src="/Images/<%= c.Images %>"></td>
        <td><%= c.Jewel_name %></td>
        <td><%= c.price %></td>
        <td><%= c.size %></td>
        <td><%= c.Jewel_category %></td>
        <td><a href='/Jewels/show/<%= c.Jewel_ID %>'>Show</a></td>
    </tr>
<% } %>
</table>
</body>
</html>

<%- include("partials/footer") %>
