<!-- views/cars_list.ejs -->
<!-- RECEIVES: cars [an array of car objects] + flashMessage [string, the error message] -->
<%- include("partials/header") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">

    <title>Document</title>
</head>
<body>
    <h1>List of Jewels</h1>
<% if (flashMessage) { %>
    <p style='color:red'><%= flashMessage %></p>
<% } %>

<p><a href='/Jewels/edit/0'>Add a new jewel</a></p>

<table class="table-design">
    <tr>
        <th>Images</th>
        <th>Model</th>
        <th>Price</th>
        <th>Size</th>
        <th>Category</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    
<% for (var c of Jewels) { %>
    <tr>
        <td><img src="/Images/<%= c.Images %>"></td>
        <td><%= c.Jewel_name %></td>
        <td><%= c.price %></td>
        <td><%= c.size %></td>
        <td><%= c.Jewel_category %></td>
        <td><a href='/Jewels/show/<%= c.Jewel_ID %>'>Show</a></td>
        <td><a href='/Jewels/edit/<%= c.Jewel_ID %>'>Edit</a></td>
        <td><a href='/Jewels/del/<%= c.Jewel_ID %>'>Delete</a></td>
    </tr>
<% } %>
</table>
</body>
</html>

<%- include("partials/footer") %>
