<!-- views/cars_list.ejs -->
<!-- RECEIVES: cars [an array of car objects] + flashMessage [string, the error message] -->
<%- include("partials/header") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Jewel List User</title>
</head>
<body>
    <h1>List of Jewels</h1>
<% if (flashMessage) { %>
    <p style='color:red'><%= flashMessage %></p>
<% } %>        
<div class="JewelPage">
    <div class="tableau1">
        <section class="price">
            <h1>
                Price
            </h1>
            <h4>
                <br/><a href="/50">50 $</a></br>
                <br/><a href="/80">80 $</a></br>
                <br/><a href="/100">100 $</a></br> 
                <br/><a href="/1000">1000 $</a></br> 
            </h4>
        </section>
        <section class="material">
            <h1>
                Materials
            </h1>
            <h4>
                <br/><a href="/silver">Silver</a></br>
                <br/><a href="/gold">Gold</a></br>
                <br/><a href="/platinium">Platinium</a></br> 
                <br/><a href="/biodegradable">Biodegradable</a></br> 
            </h4>
        </section>
        <section class="category">
            <h1>
                Category
            </h1>
            <h4>
                <br/><a href='/Jewels/Category/Bracelet'>Bracelet</a></br>
                <br/><a href='/Jewels/Category/Necklace'>Necklace</a></br>
                <br/><a href='/Jewels/Category/Ring'>Ring</a></br>
                <br/><a href='/Jewels/Category/Earring'>Earring</a></br>
            </h4> 
        </section>
    </div>
    <div class="tableau2">
    
    <div class="AddJewel">
        <p><a href='/Jewels/edit/0'>Add a new jewel</a></p>
    </div>       
    <div class="ImageTableau">
    <table class="table-design">    
        <tr>
            <th>Images</th>
            <th>Model</th>
            <th>Price</th>
            <th>Size</th>
            <th>Category</th>
            <th>Materials</th>
            <th>Show</th>
        </tr>
    
    <% for (var c of Jewels) { %>
        <tr>
            <td><img src="/Images/<%= c.Images %>"></td>
            <td><%= c.Jewel_name %></td>
            <td><%= c.price %></td>
            <td><%= c.size %></td>
            <td><%= c.Jewel_category %></td>
            <td><%= c.Jewel_material %></td>
            <td><a href='/Jewels/show/<%= c.Jewel_ID %>'>Show</a></td>
        </tr>
    <% } %>
    </table>
    </div>
    </div>   
</div>
</body>
</html>

<%- include("partials/footer") %>
