<h1>List of Bracelets</h1>
<% if (flashMessage) { %>
    <p style='color:red'><%= flashMessage %></p>
<% } %>

<p><a href='/bracelets'>Add a new jewel</a></p>

<table class="table table-striped table-bordered table-hover">
    <tr>
        <td>Model</td>
        <td>Price</td>
        <td>Size</td>
        <td>Category</td>
        <td>Show</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    
<% for (var c of Bracelets) { %>
    <tr>
        <td><%= c.Jewel_name %></td>
        <td><%= c.price %></td>
        <td><%= c.size %></td>
        <td><%= c.Jewel_category %></td>
        <td><a href='/Jewels/show/<%= c.Jewel_ID %>'>Show</a></td>
        <td><a href='/Jewels/edit/<%= c.Jewel_ID %>'>Edit</a></td>
        <td><a href='/Jewels/del/<%= c.Jewel_ID %>'>Delete</a></td>
    </tr>
<% } %>
</table>
</body>
</html>